version: '2'
services:
  frontend:
    build: ./front
    restart: unless-stopped
    environment:
      - VUE_APP_API_URL=http://localhost:8080
    ports:
      - "80:80"

  backend:
    build: ./api
    restart: unless-stopped
    environment:
      - CORS_ALLOW_ORIGIN=http://localhost
      - DATA_PATH=/data/
      - QUOTES_AUTHOR=unknown
    ports:
      - "8080:8080"
    volumes:
      - ./api/test/data/:/data/:ro
