:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.btnIcon {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-style: none;
  font-size: 2em;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: rgb(37, 67, 90);
}

.btnIcon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.btnIcon:hover ,
.btnIcon:focus {
  fill: rgb(0, 0, 0);
}

.quoteBox {
  max-width: 64rem;
  width: 95%;
  font-size: inherit;
}

.text {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.25);
  text-align: left;
}

.text:not(:empty) {
  quotes: "“" "”";
}

.text:not(:empty)::before {
  content: open-quote;
}

.text:not(:empty)::after {
  content: close-quote;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2em;
  min-width: 20em;
}

.footerCell--btnIcons .btnIcon + .btnIcon {
  margin-left: 1em;
}

.author {
  text-align: right;
}

.author:not(:empty)::before {
  content: "— ";
}

@media screen and (max-width: 1024px) {
  .text {
    text-align: center;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footerCell--author {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 2em;
  }

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
